
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml



# Added by cargo

target

*.wasm

.idea/
.fleet/

output.log
*.wasm
covertura.xml

# codecov
/codecov
/codecov.SHA256SUM
/codecov.SHA256SUM.sig
/codecov.exe
/codecov.exe.SHA256SUM
/codecov.exe.SHA256SUM.sig
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.cmake
.cache/
build/
.vs
out
.vscode