
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml



# Added by cargo

target

*.wasm

.idea/

output.log
*.wasm
covertura.xml
__target

# codecov
/codecov
/codecov.SHA256SUM
/codecov.SHA256SUM.sig
/codecov.exe
/codecov.exe.SHA256SUM
/codecov.exe.SHA256SUM.sig
